{% extends "pattern.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btn.css') }}">
{% endblock %}

{% block content %}
    <div class="text-bg-light p-3"><h1>Рандомайзер паролей</h1><h2>Ваш пароль: {{ password }}</h2>
    <button class="btn btn-primary" onclick="copyToClipboard('{{ password }}')">Скопировать пароль</button>
        <form class="login_form" method="post">
    <input type="range" id="passwordLength" name="range" min="6" max="20" value="{{ value }}" oninput="updateValue(this.value)">
    <button type="submit" class="btn btn-primary">Сгенерировать новый пароль</button>
</form>
        <p>Password length: <span id="lengthValue">{{ value }}</span></p>
    </div>
    <a href="http://127.0.0.1:8080/greeting" class="btn btn-primary">Перейти на стартовую страницу</a>

<script>
function copyToClipboard(text) {
  navigator.clipboard.writeText(text).then(function() {
    alert("Пароль скопирован в буфер обмена!");
  }, function(err) {
    alert("Не удалось скопировать пароль в буфер обмена: " + err);
  });
}
</script>

    <script>
        document.getElementById('passwordLength').addEventListener('input', function() {
            document.getElementById('lengthValue').innerText = this.value;
        });

        function generatePassword() {
            var length = document.getElementById('passwordLength').value;
            var generatedPassword = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()_+{}|:"<>?-=[]\\;\',./';
            for (var i = 0; i < length; i++) {
                generatedPassword += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            document.getElementById('generatedPassword').innerText = generatedPassword;
        }
    </script>

{% endblock %}